<div>
      
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content"> 
            
              

              

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
              <h2>Change your password</h2>
                <div>
                   <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
                </div>

                <div>
                   <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>

                 
              <div>

              

                  <div class="actions">
                  <%= f.submit "Chance my password", class:"btn btn-primary" %>
                  </div>
              <% end %>
                
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <%= render "users/shared/links" %>
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa"></i> Time to Answer</h1>
                  <p>©2022 All Rights Reserved.</p>
                </div>
              </div>
            
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          
        </div>
      </div>
    </div>



