<div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content"> 
             
              <h1>Esqueceu a senha</h1>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                 <div class="actions">
                    <%= f.submit "Send me reset password instructions", style:"float:none; margin-left: 0px; width: 70%;" %>
                  </div>
                

              
              <% end %>

              
                
              </div>

              <div class="clearfix"></div>

              <div class="separator">
             
                <div class="clearfix"></div>
                <br />

                
              </div>
            
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          
        </div>
      </div>
    </div>






  

  


