<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= t('messages.listing', model: @subjects.model_name.human(count:2))%></h1>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
      <thead>
        <tr role="row">
          <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 57.0057px;"><%=translate_attribute(@subjects, :id)%></th>
          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 61.0057px;"><%=translate_attribute(@subjects, :description)%></th>
          <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 61.0057px;"><%= link_to new_admins_backoffice_subject_path, class:"btn btn-success btn-circle btn-sm" do %>
              <i class="fa fa-plus"></i>
            <% end %></th>
        </thead>
        <tfoot>
          <tr>
            <th rowspan="1" colspan="1"><%=translate_attribute(@subjects, :id)%></th>
            <th rowspan="1" colspan="1"><%=translate_attribute(@subjects, :description)%></th>
            <th rowspan="1" colspan="1"><%= link_to new_admins_backoffice_subject_path, class:"btn btn-success btn-circle btn-sm" do %>
                <i class="fa fa-plus"></i>
              <% end %>
            </th>
          </tfoot>
          <tbody>
            <% @subjects.each do |subject|%>
              <tr class="odd">
                <td class="sorting_1"><%= subject.id %></td>
                <td><%= subject.description %></td>
                <td style="width: 10%">
                  <%= link_to edit_admins_backoffice_subject_path(subject), class:"btn btn-primary btn-circle btn-sm" do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to admins_backoffice_subject_path(subject), method: :delete, class:"btn btn-danger btn-circle btn-sm", data: {confirm: t('messages.confirm_with', item: subject.description.truncate(15))} do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @subjects %>
      </div>
    </div>
